@model AlfavoxPoC.Core.ViewModels.ViewCompanyViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>@Model.Company.Name</h2>

<h3>Employees:</h3>
<ul>
    @foreach (var episode in Model.CompanyEmployees)
    {
        <li>@episode.Employee.LastName</li>

    }
</ul>

@if (Model.CompanyEmployees.Count == 0)
{
    <p><i>There's none employees added yet</i></p>

}

<p>
    <a asp-controller="Companies" asp-action="AddEmployee" asp-route-id="@Model.Company.CompanyId">Add Employee</a>
</p>
